@font-face {
	font-family: Roboto;
	src: url("../font/Roboto-Light.ttf");
}

div, button, a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: Roboto;
	font-size: 16px;
}

:root {
	--groups: 0;
	--width: 800px;
	--height: 400px;
}

body {
	background: var(--bg);
	transition: background 0.2s;
}

.wrapper {
	display: flex;
	flex-direction: row;
	background: var(--color1);
	width: var(--width);
	height: var(--height);
	position: absolute;
	top: calc(50% - var(--height) / 2);
	left: calc(50% - var(--width) / 2);
}

/* SETTINGS */
#conf {
	background: none;
	width: 30%;
	height: 100%;
	border: 2px solid var(--color2);
	display: flex;
	flex-direction: column;
	position: relative;
}

#conf::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--image);
	background-size: cover;
	background-position: center;
	opacity: 1;
	transition: background 0.1s, opacity 0.3s;
	pointer-events: none;
}

#conf:hover::before, #conf.toggle::before {
	opacity: 0;
}

.view {
	height: 100%;
	display: none;
	flex-direction: column;
}

.activeView {
	display: flex;
}

.confBtns {
	color: var(--color2);
	display: flex;
	flex-flow: row wrap;
	flex: 1;
}

.confTitle {
	background: var(--color2);
	color: var(--color1);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	flex: 1;
}

.view button {
	background: transparent;
	color: var(--color2);
	flex: 1;
	font-size: 30px;
}

.view > button {
	font-size: 16px;
}

.borderTop {
	border-top: 2px solid var(--color2);
}

.confBtns > :last-child, .confBtn {
	border-left: 2px solid var(--color2);
	margin-left: -2px;
}

.groupConfBtn {
	display: none;
}

.view .important {
	color: var(--color3);
	font-size: 16px;
}


/* LINKS */
.links {
	display: flex;
	flex-direction: column;
	width: 70%;
	border: 2px solid var(--color2);
	border-left: none;
	padding: 2px 2px 0 2px;
}

.group {
	background: var(--color2);
	width: 100%;
	flex: 1;
	transition: all 0.3s;
	margin-bottom: 2px;
	color: var(--color1);
	display: none;
	flex-direction: column;
	min-height: 0;
	overflow: hidden;
}

.group:hover, .hovered {
	flex: var(--groups);
	transition: all 0.3s;
	background: transparent;
}

.row {
	flex: 1;
	display: none;
	border-style: solid;
	border-color: var(--color2);
	border-width: 0 0 0 2px;
}

.row:first-child {
	border-top-width: 2px;
}

.cell {
	display: none;
	flex: 1;
	overflow: hidden;
	background: transparent;
	border-style: solid;
	border-color: var(--color2);
	border-width: 0 2px 2px 0;
	color: var(--color2);
	justify-content: center;
	align-items: center;
	text-align: center;
	word-break: break-word;
	text-decoration: none;
	transition: color 0.3s;
}

.group:hover .cell[href=''], .hovered .cell[href=''] {
	color: var(--color3);
}