/* THEMES */
.theme1 {
    --image: url("../img/shiroi.jpg");
    --bg: url("../img/shiroibg.png");
    --color1: #3D383C;
    --color2: #C0ADFE;
    --color3: #FEC0AD;
}
.theme2 {
    --image: url("../img/tharja.png");
    --bg: url("../img/tharjabg.png");
    --color1: #151819;
    --color2: #806E90;
    --color3: #D5C58B;
}
.theme3 {
    --image: url("../img/black.jpg");
    --bg: url("../img/blackbg.png");
    --color1: #050505;
    --color2: #008c8c;
    --color3: #9D659D;
}
.theme4 {
    --image: url("../img/diana.jpg");
    --bg: url("../img/dianabg.png");
    --color1: #67749E;
    --color2: #F3E1EF;
    --color3: #BEDE7E;
}
/*
.theme5 {
    --image: url("../img/image.png");
    --bg: url("../img/image.png");
    --color1: #000000;
    --color2: #000000;
    --color3: #000000;
}
*/

/*
    --image: Small image covering the config.
    --bg: Page background.
    --color1: Wrapper background + text on areas with color2 as background
    --color2: Borders + background on non-button areas + text on areas with color1 as background
    --color3: Unassigned links + "dangerous" buttons

    --image and --bg can be an image or a color value.
    --color1, --color2 and --color3 can only be a color value.
*/